.navbar{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.navbar >ul {
  display: flex;
  list-style: none;

}
.navbar > ul > li {
  padding: 10px;
}

.product{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  border: 1px solid grey;
  width: 200px;
  margin: 10px;
  height: 400px;
  padding: 10px;
  text-align: center;
}
.product-card img{
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.Skeleton-Card{
  display : flex;
  flex-wrap: wrap;

  
}

.Skeleton{
  width: 200px;
  margin: 10px;
  height: 400px;
  padding: 10px;
  background: #f0f0f0f0;
}